* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

h1 {
  color: #fff;
  text-shadow: 0 0 7px #d75959, 0 0 10px #d75959, 0 0 21px #d75959,
    0 0 42px rgb(255, 0, 0), 0 0 82px rgb(255, 0, 0), 0 0 92px rgb(255, 0, 0),
    0 0 102px rgb(255, 0, 0), 0 0 151px rgb(255, 0, 0);
  font-size: 50px;
  margin: 0;
}

body {
  font-family: "Ink Free", sans-serif;
  color: white;
  background-image: url(./fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #0a0a0a86;
    text-align: center;
    color: #5c5c5c49;
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    z-index: 1;
  }
  
  .arr {
    width: 100%; 
 
  }

.foto {
  width: 100%;
  height: 100%;
  max-height: 30vh;
  object-fit: cover;
}

.respmenu a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  width: 200px;
  font-variant: small-caps;
  border: 0.2rem solid rgb(255, 0, 0);
  box-shadow: 0 0 0.2rem rgb(255, 0, 0),rgb(255, 0, 0),
    inset 0 0 1.3rem rgb(255, 0, 0);
}
h5 {
    font-size: 30px;
}
.respmenu nav ul {
    list-style: none; 
    padding: 0; 
  }
  
  .respmenu nav ul li {
    background-color: #000;
  }

  .icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  
  }

.respmenu input[type="checkbox"],
.respmenu .fa-bars,
.respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;background-color: #000;
  height: 48px;

}

.respmenu .fa-bars,
.respmenu .fa-times {
  font-size: 48px;
  pointer-events: none;
}

.respmenu input[type="checkbox"] {
  opacity: 0;
}

.respmenu {
  color:#fff;
  position: relative;
  min-height: 48px;
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
  display: none;
}

/* barra lateral */
.midbar a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    width: 100px;
    font-variant: small-caps;
    border: 0.2rem solid rgb(255, 0, 0);
    box-shadow: 0 0 0.2rem rgb(255, 0, 0), rgb(255, 0, 0);
    transition: all 0.3s ease; 
    font-size: 15px;
    
}

.midbar a:hover {
    background-color: #333; 
}

.midbar nav ul {
    list-style: none; 
    padding: 0; 
    position: relative; 
    top: 40px; 
}

.midbar nav ul li {
  background-color: #000;
  transition: background-color 0.3s ease;
  width: 100px; 
}

.midbar .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.midbar input[type="checkbox"],
.midbar .fa-chevron-right,
.midbar .fa-chevron-left {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: #000;
}

.midbar .fa-chevron-right,
.midbar .fa-chevron-left {
    font-size: 20px;
    pointer-events: none;
    transition: transform 0.3s ease;
}

.midbar input[type="checkbox"] {
    opacity: 0;
}

.midbar {
  color: #fff;
  position: fixed;
  min-height: 60px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100vh;
  z-index: 2;
  transition: width 0.3s ease;
}



.midbar nav {
  display: none;
}

.midbar input:checked ~ nav {
    display: block;
    top: 0
    
}

.midbar input:checked ~ .fa-chevron-right {
    display: none;
}

.midbar input:checked ~ .fa-chevron-left {
    display: inline;
    transform: rotate(180deg);
}

.midbar input:not(:checked) ~ .fa-chevron-right {
    display: inline;
}

.midbar input:not(:checked) ~ .fa-chevron-left {
    display: none;
}

@media (max-width: 768px) {
    .midbar {
        height: auto; /* Permitimos que la altura sea automática para adaptarse al contenido */
    }

}

/* aaaaaaaa */


a {
  text-decoration: none;
  color: #f6a700;
}

.contenedor-catalogo-hamburguesa {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
}

.menu {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid rgb(255, 0, 0);
  box-shadow: 0 0 0.2rem rgb(255, 0, 0), 0 0 0.2rem rgb(255, 0, 0),
    inset 0 0 1.3rem rgb(255, 0, 0);
}

.menu:hover {
  transform: translateY(-15px);
}

p {
  margin-top: 2px;
  margin-bottom: 4px;
}

.tex {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 5%;
  gap: 8px;
}

.b {
  background-color: rgb(228, 68, 68);
  border: none;
  color: white;
  padding: 3px, 0, 5px, 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.b:hover {
  background-color: #f6a700;
}

.texto {
  height: 60%;
  padding: 15px 15px 0px 15px;
}

.ima {
  width: 100%;
  max-height: 30vh;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.titulos-comida {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 170px;
}

h1 {
  margin: 10px 0;
}

.hr-styled {
  border: 0;
  height: 3px;
  width: 10%;
  margin: 0 auto;
  background-color: #d75959;
  box-shadow: 0 0 7px #de1010, 0 0 10px #de1010, 0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(255, 0, 0), 0 0 92px rgb(255, 0, 0), 0 0 102px rgb(255, 0, 0),
    0 0 151px rgb(255, 0, 0);
}

footer {
  height: 25vh;
  background-color: #000;
  text-align: center;
  color: #5c5c5c;
  padding: 30px 0;
}
footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    background-color: #1a1818ee;
    text-align: center;
    color: #5c5c5c49;
    position: fixed;
    width: 100%;
    height: 6%;
    margin-top: 0;
    top: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 1300px) {
  .contenedor-catalogo-hamburguesa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 1000px) {
  .contenedor-catalogo-hamburguesa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-hamburguesa {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

.titulos-comida-a {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10%;
}

/* perros */
.contenedor-catalogo-perrros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  /* background-image: url(./fondo.jpg); */
}

@media screen and (max-width: 1300px) {
  .contenedor-catalogo-perrros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 1000px) {
  .contenedor-catalogo-perrros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-perrros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

/* deleitar */
.contenedor-catalogo-deleitar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  /* background-image: url(./fondo.jpg); */
}

@media screen and (max-width: 1300px) {
  .contenedor-catalogo-deleitar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-deleitar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

/* salchipapas */

.contenedor-catalogo-salchipapas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  /* background-image: url(./fondo.jpg); */
}

@media screen and (max-width: 1300px) {
  .contenedor-catalogo-salchipapas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-salchipapas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

/* sandwich */
.contenedor-catalogo-sandwich {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  /* background-image: url(./fondo.jpg); */
}

@media screen and (max-width: 1300px) {
  .contenedor-catalogo-sandwich {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-sandwich {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

/* alita */

/* sandwich */
.contenedor-catalogo-alita {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  /* background-image: url(./fondo.jpg); */
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-alita {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

/* parrilla */
.contenedor-catalogo-parrilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  /* background-image: url(./fondo.jpg); */
}

@media screen and (max-width: 1300px) {
  .contenedor-catalogo-parrilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-parrilla {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

/* menu niños */
.contenedor-catalogo-niños {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  /* background-image: url(./fondo.jpg); */
}

@media screen and (max-width: 1300px) {
  .contenedor-catalogo-niños {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-niños {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

/* bebidas */
.contenedor-catalogo-bebidas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  /* background-image: url(./fondo.jpg); */
}

@media screen and (max-width: 1300px) {
  .contenedor-catalogo-bebidas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-bebidas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

/* adicionales */
.contenedor-catalogo-adicionales {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 80%;
  margin: 20px auto;
}

.adicionalesMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imaAdicionales {
  width: 100%;
  max-height: 60vh;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.li {
  border: 0;
  height: 3px;
  margin: 0 auto;
  background-color: #d75959;
  box-shadow: 0 0 7px #de1010, 0 0 10px #de1010, 0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(255, 0, 0), 0 0 92px rgb(255, 0, 0), 0 0 102px rgb(255, 0, 0),
    0 0 151px rgb(255, 0, 0);
}

@media screen and (max-width: 1300px) {
  .contenedor-catalogo-adicionales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-catalogo-adicionales {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background-image: url(./fondo.jpg);
  }
}
